
html, body {
    margin: 0;
}

img {
    width: 150px;
    height: 150px;
}

.parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.parent > div {
    padding: 20px 35px;
}