.parent {
    position: relative;
    left: 200px;
    top: 100px;
    width: 500px;
    height: 500px;
    margin: 20px;
    background-color: blueviolet;
}

h1 {
    position: relative;
    top: 30px;
    text-align: center;
  }
  td {
    width: 100px;
    height: 100px;
  }
  table {
    margin-top: 60px;
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }