.grid-container {
    display: grid;
    grid-template-columns: 200px 350px;
    grid-auto-rows: minmax(250px, auto);
    grid-row-gap: 40px;
    margin: 20px;
    /* grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content"; */
}

.grid-item-1 {
    /* grid-area: header; */
    /* grid-column-start: 1;
    grid-column-end: 2; */
    grid-column: span 1;
    padding: 10px;
    background-color: red;
    width: 500px;
    height: 400px;
}

.grid-item-2 {
    /* grid-area: sidebar;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: span 2;
    padding: 30px;
    margin-left: 350px;
    width: 550px;
    background-color: blue;
}

.grid-item-3 {
    grid-row: span 1;
    padding: 10px;
    background-color: blue;
    width: 500px;
    height: 400px;
}